html{
    height: 100%;
}
.background-blur{
    height: 100%;
    background: rgba(0,0,0,0.5);
}
body{
    background-image: url("https://benhvienk.vn/data/media/1601/images/IMG_1553.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}